<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

 <ion-header padding color="mytheme" class="mybg head">
  <ion-row justify-content-center>
    <ion-img src="assets/images/login.png" class="head-image"></ion-img>
  </ion-row>
</ion-header>

<ion-content padding>
  <ion-text><h3 no-margin margin-bottom text-center class="title">OTP Verification</h3></ion-text>
  <form [formGroup]="validations_form"  (ngSubmit)="otp(validations_form.value)">
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="Enter OTP" formControlName="otp"  padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit" color="primary"  color="mytheme"><strong class="white">Verify</strong></ion-button>
      </ion-col>
    </ion-row>
    <div class="line"></div>
   
    <ion-row>
      <ion-col>
        <ion-text text-center color="medium"><h6 no-margin class="small"><a (click)="open_modal(true)">Terms of Use</a> and <a (click)="open_modal(false)">Privacy Policy</a></h6></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
 </form>
</ion-content>
