
 <ion-header class="mybg">
  <!-- <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> -->
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <div slot="end">
      <button  (click)="fun.navigate('cart')" class="cart-btn">
        <ion-icon name="cart" slot="icon-only" no-margin class="white"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div class="logo-area">
          <img src="assets/images/logo.jpg" alt="">
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="logo_content02">
          <h3>CRONICA GROUP</h3>
          <img src="assets/images/logo02.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <div class="tollfree">
          <p>Toll free number</p>
          <h4><a href="tel:1800 121 5113">1800 121 5113</a></h4>
        </div>
      </ion-col>
      <ion-col size="7">
        <div class="logo_cont">
          <img src="assets/images/mini-logo.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <a  (click)="fun.navigate('home')">
          <div class="inner-box">
            <img src="assets/images/product.png" alt="">
            <h3>Products</h3>
          </div>
        </a>
      </ion-col>
      <ion-col size="6">
        <a (click)="fun.navigate('notificationssettings')">
          <div class="inner-box">
            <img src="assets/images/about-us.png" alt="">
            <h3>About Us</h3>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <a (click)="fun.navigate('emailsettings')">
          <div class="inner-box">
            <img src="assets/images/contact.png" alt="">
            <h3>Contact Us</h3>
          </div>
        </a>
      </ion-col>
      <ion-col size="6">
        <a  (click)=" logout()">
          <div class="inner-box">
            <img src="assets/images/log-out.png" alt="">
            <h3>Log out</h3>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="landg_cont">
          <h3>COMPANY INTRODUCTION</h3>
          <p><span>CRYSTAL ELECTRIC CO. PVT. LTD. </span>is an ISO 9001:2015 certified company, had a modest beginning in the year 1960 by S. Pritam Singh Chaggar, the founder, with the manufacturing of low Voltage Switchgear. By Dint of his hard work, determination and farsightedness the company made remarkable sucsess in the market.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
