<ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text><h3 no-margin margin-bottom text-center class="title">Sign Up</h3></ion-text>
  <form [formGroup]="validations_form"  (ngSubmit)="addUser(validations_form.value)" >
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="First Name" formControlName="first_name" padding-horizontal></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Last Name" formControlName="last_name" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Email" formControlName="email" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col>
        <ion-input clearInput type="number" placeholder="Mobile No." formControlName="mobile_no" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Password" formControlName="password" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="City" formControlName="city" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="State" formControlName="state" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="Country" formControlName="country" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="Agent Code" formControlName="agent_code" padding-horizontal></ion-input>
      </ion-col>
    </ion-row> -->
   
    <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="Address" formControlName="address" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="text" placeholder="Pincode" formControlName="pincode" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="!checkout" expand="block" type="submit" color="primary"  color="mytheme"><strong class="white">Add user</strong></ion-button>
        <ion-button   *ngIf="checkout" color="success" style="margin-left: 90px !important;" (click)="placeOrder()"><strong class="white">Checkout</strong></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 </form>
</ion-content>
