<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header padding color="mytheme" class="mybg head">
    <ion-row justify-content-center>
      <ion-img src="assets/images/logo.jpg" class="head-image"></ion-img>
    </ion-row>
  </ion-header>
  
  <ion-content padding>
    <ion-text><h3 no-margin margin-bottom text-center class="title">Sign Up</h3></ion-text>
    <form [formGroup]="validations_form"  (ngSubmit)="signup(validations_form.value)" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="First Name" formControlName="first_name" padding-horizontal></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="Last Name" formControlName="last_name" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="email" placeholder="Email" formControlName="email" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col>
          <ion-input clearInput type="number" placeholder="Mobile No." formControlName="mobile_no" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="password" placeholder="Password" formControlName="password" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="text" placeholder="City" formControlName="city" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="text" placeholder="State" formControlName="state" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="text" placeholder="Country" formControlName="country" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-input clearInput type="text" placeholder="Agent Code" formControlName="agent_code" padding-horizontal></ion-input>
        </ion-col>
      </ion-row> -->
     
      <ion-row>
        <ion-col>
          <ion-input clearInput type="text" placeholder="Address" formControlName="address" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="text" placeholder="Pincode" formControlName="pincode" padding-horizontal></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" color="primary"  color="mytheme"><strong class="white">Create an Account</strong></ion-button>
        </ion-col>
      </ion-row>
      <div class="line"></div>
      <!-- <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="fb"><ion-img src="assets/images/facebook_logo.png" slot="start" class="logo" margin-end></ion-img>Facebook</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light"><ion-img src="assets/images/google_logo.png" slot="start" class="logo" margin-end></ion-img>Google</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="mytheme" (click)="fun.navigate('login')"><strong>Have an account? Sign in</strong></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text text-center color="medium"><h6 no-margin class="small"><a (click)="open_modal(true)">Terms of Use</a> and <a (click)="open_modal(false)">Privacy Policy</a></h6></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
   </form>
  </ion-content>
  