<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- <p padding>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p> -->
<div [innerHtml]="data.description" *ngIf="data">

</div>
</ion-content>